[run]
branch = True
source = lancet
omit =
    migrations/*

[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    NOCOV

    raise NotImplementedError

[html]
directory = .htmlcov
